# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
#Library import
import requests
from IPython.display import JSON 
import pandas as pd
import numpy as np

In [2]:
#using Citybik API to request data from the city of Marsaille 
city_bikes_marseille = requests.get("http://api.citybik.es/v2/networks/le-velo").json()
#JSON(city_bikes_marseille)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [3]:

df_city_bikes_marseille = pd.read_json("http://api.citybik.es/v2/networks/le-velo")

In [6]:
df_city_bikes_marseille.columns

Index(['network'], dtype='object')

In [4]:
df_city_bikes_marseille.head()

                                                    network
company   [LeVélo AMP Métropole, Ville de Marseille, Fif...
href                                   /v2/networks/le-velo
id                                                  le-velo
location  {'city': 'Marseille', 'country': 'FR', 'latitu...
name                                                 LeVélo

In [7]:
stations_archive = df_city_bikes_marseille["network"]["stations"]

In [8]:
len(stations_archive)

186

*Here I organize the data by structuring and putting into dataframe*

In [9]:
def array_of_parsed_stations():
    array_of_stations_data = []
    for stations in stations_archive:
        name = stations["name"]
        address = stations["address"]
        latitude = stations["latitude"]
        longitude = stations["longitude"]
        empty_slots = stations["empty_slots"]
        Available_bikes = stations["free_bikes"]
        parsed_array_of_station_archive = {"name": name, "address": address, "Latitude": latitude, "Longitude": longitude, "Empty Slots": empty_slots, "free_bikes": Available_bikes}
        array_of_stations_data.append(parsed_array_of_station_archive)
    return array_of_stations_data

Put your parsed results into a DataFrame.

In [15]:
def final_array_of_parsed_stations ():
    array_of_stations = []
    for stations in stations_archive:
        name = stations["name"]
        latitude = stations["latitude"]
        longitude = stations["longitude"]
        empty_slots = stations["empty_slots"]
        Available_bikes = stations["free_bikes"]
        timestamp = stations["timestamp"]
        parsed_array_of_stations = {"name": name, "Latitude": latitude, "Longitude": longitude, "Empty Slots": empty_slots, "free_bikes": Available_bikes, "timestamp": timestamp}
        array_of_stations.append(parsed_array_of_stations)
    return array_of_stations

df_array_of_stations = pd.DataFrame(final_array_of_parsed_stations())

df_array_of_stations[:5]

,name,Latitude,Longitude,Empty Slots,free_bikes,timestamp
0,Cours Jean Ballard,43.293009,5.374584,None,0,2023-11-07T13:15:27.389000Z
1,Allées Gambetta,43.299028,5.381509,None,0,2023-11-07T13:15:27.454000Z
2,Réformés Canebière,43.299717,5.384845,None,2,2023-11-07T13:15:27.478000Z
3,Coutellerie,43.296800,5.372910,None,1,2023-11-07T13:15:27.355000Z
4,Canebiere - Beauvau,43.295279,5.375048,None,0,2023-11-07T13:15:27.372000Z

In [16]:
#Timestamp is not a useful metric for our analysis, so it will be dropped
df_array_of_stations = df_array_of_stations.drop(columns=["timestamp"])

In [17]:
df_array_of_stations[:5]

                  name   Latitude  Longitude Empty Slots  free_bikes
0   Cours Jean Ballard  43.293009   5.374584        None           0
1      Allées Gambetta  43.299028   5.381509        None           0
2   Réformés Canebière  43.299717   5.384845        None           2
3          Coutellerie  43.296800   5.372910        None           1
4  Canebiere - Beauvau  43.295279   5.375048        None           0

In [21]:
df_array_of_stations.loc[df_array_of_stations.duplicated(subset=["name"])]

Empty DataFrame
Columns: [name, Latitude, Longitude, Empty Slots, free_bikes]
Index: []

In [23]:
#Cheching for null values
df_array_of_stations.isna().sum()

name             0
Latitude         0
Longitude        0
Empty Slots    186
free_bikes       0
dtype: int64

In [24]:
len(df_array_of_stations)

186

In [25]:
df_array_of_stations = df_array_of_stations.drop(columns=["Empty Slots"])

In [26]:
df_array_of_stations[:5]

                  name   Latitude  Longitude  free_bikes
0   Cours Jean Ballard  43.293009   5.374584           0
1      Allées Gambetta  43.299028   5.381509           0
2   Réformés Canebière  43.299717   5.384845           2
3          Coutellerie  43.296800   5.372910           1
4  Canebiere - Beauvau  43.295279   5.375048           0

In [31]:
df_array_of_stations.rename(columns={"name": "Name"}, inplace=True)

In [32]:
df_array_of_stations.to_csv("../data/df_marseille_stations.csv", index=True)